<!DOCTYPE html>
<html lang="en">
  <head>
    <% title ||= nil %>
    <title><%= title || "Norikra" %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- TODO: logo favicon <link rel="shortcut icon" href="../../assets/ico/favicon.png"> -->

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/norikra.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target="#navbar-norikra">
    <!-- Fixed navbar -->
    <div id="navbar-norikra" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Norikra v<%= norikra_version %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li <%= @page == "summary" ? 'class="active"' : '' %>><a href="#summary">Summary</a></li>
            <li <%= @page == "queries" ? 'class="active"' : '' %>><a href="#queries">Queries</a></li>
            <li <%= @page == "queries" ? 'class="active"' : '' %>><a href="#targets">Targets</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://norikra.github.io/" title="norikra.github.io"><div style="mergin: 0; height: 100%; width: 120px;"></div></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">
      <%== yield %>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="//code.jquery.com/jquery.js"></script> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/norikra.webui.js"></script>
  </body>
</html>

