<div class="page-header">
  <h1 id="summary">Runtime Summary</h1>
</div>

<% [["HEAP", :heap],["NON-HEAP", :nonheap]].each do |name,sym| %>
<div class="row">
  <div class="col-sm-2" style="text-align: right;"><%= name %></div>
  <div class="col-sm-8">
    <% used_p = stat[:memory][sym][:used_percent] %>
    <% committed_p = stat[:memory][sym][:committed_percent] %>
    <% usage_bar_color = used_p > 80 ? "danger" : (used_p > 60 ? "warning" : "info") %>
    <div class="progress">
      <div class="progress-bar progress-bar-<%= usage_bar_color %>" style="width: <%= used_p.to_i %>%;">
        <span class="sr-only"><%= used_p %> % used</span>
      </div>
      <div class="progress-bar progress-bar-success" style="width: <%= committed_p.to_i %>%;">
        <span class="sr-only"><%= committed_p %> % used</span>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Server</h3>
      </div>
      <div class="panel-body">
        <div><strong>STARTED:</strong> <%= stat[:started] %></div>
        <div><strong>UPTIME:</strong> <%= stat[:uptime] %></div>
        <div>
          <strong>HEAP MEMORY USED:</strong> <%= stat[:memory][:heap][:used] %>MB (<%= stat[:memory][:heap][:used_percent] %>%),
          <strong>COMMITTED:</strong> <%= stat[:memory][:heap][:committed] %>MB,
          <strong>MAX:</strong> <%= stat[:memory][:heap][:max] %>MB
        </div>
        <div>
          <strong>NON-HEAP MEMORY USED:</strong> <%= stat[:memory][:nonheap][:used] %>MB (<%= stat[:memory][:nonheap][:used_percent] %>%),
          <strong>COMMITTED:</strong> <%= stat[:memory][:nonheap][:committed] %>MB,
          <strong>MAX:</strong> <%= stat[:memory][:nonheap][:max] %>MB
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data</h3>
      </div>
      <div class="panel-body">
        <div><strong>TARGETS:</strong> <%= stat[:targets] %>, <strong>QUERIES:</strong> <%= stat[:queries] %></div>
        <div><strong>EVENTS INPUT:</strong> <%= stat[:input_events] %></div>
        <div><strong>EVENTS PROCESSED:</strong> <%= stat[:processed_events] %></div>
        <div><strong>EVENTS OUTPUT:</strong> <%= stat[:output_events] %></div>
      </div>
    </div>
  </div>
</div>

<div class="page-header">
  <h1 id="queries">Queries</h1>
</div>

<table class="table">
  <tr><th>Group</th><th>Query name</th><th>Targets</th><th>Query</th><th>Events</th><th></th></tr>
  <% queries.each do |query| %>
  <tr>
    <td><%= query.group || "(default)" %></td>
    <td><%= query.name %></td>
    <td><%= query.targets.join(", ") %></td>
    <td>
      <a href="#" class="btn btn-default btn-xs show-query-expression"
        data-toggle="popover" data-placement="left" data-html="true"
        data-content="<%= "query:<pre>" + query.expression + "</pre>" %>">show query</a>
    </td>
    <td><%= pool[query.name] %></td>
    <td>TODO:<button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
  </tr>
  <% end %>
</table>

<h3>Add Query</h3>
<div class="well">
  <p>TODO: Add textarea and "add" button here!</p>
</div>


<div class="page-header">
  <h1 id="targets">Targets</h1>
</div>

<table class="table">
  <tr><th>Target</th><th>Auto field</th><th>Fields</th><th></th></tr>
  <% targets.each do |target| %>
  <tr>
    <td><%= target[:name] %></td>
    <td><%= target[:auto_field] %></td>
    <td>
      <% if target[:fields].size > 0 %>
        <% field_html = target[:fields].map{|t| "<tr><td>#{t[:name]}</td><td>#{t[:type]}</td><td>#{t[:optional] ? '(optional)' : ''}</td></tr>"}.join %>
        <a href="#" class="btn btn-default btn-xs show-target-fields"
          data-toggle="popover" data-placement="top" data-html="true"
          data-content="<table><tr><th>name</th><th>type</th><th></th></tr><%= field_html %></table>">show fields</a>
      <% else %>
        (lazy target)
      <% end %>
    </td>
    <td>TODO: reserve fields, remove targets</td>
  </tr>
  <% end %>
</table>
