<div class="page-header">
  <h1 id="summary">Runtime Summary<% if shut_off_mode %><span style="color: red"> : SHUT OFF MODE</span><% end %></h1>
  at: <%= Time.now.rfc2822 %>
</div>

<% [["HEAP", :heap],["NON-HEAP", :nonheap]].each do |name,sym| %>
<div class="row">
  <div class="col-sm-2" style="text-align: right;"><%= name %></div>
  <div class="col-sm-8">
    <% used_p = stat[:memory][sym][:used_percent] %>
    <% committed_p = stat[:memory][sym][:committed_percent] %>
    <% usage_bar_color = used_p > 80 ? "danger" : (used_p > 60 ? "warning" : "info") %>
    <div class="progress">
      <div class="progress-bar progress-bar-<%= usage_bar_color %>" style="width: <%= used_p.to_i %>%;">
        <span class="sr-only"><%= used_p %> % used</span>
      </div>
      <div class="progress-bar progress-bar-success" style="width: <%= (committed_p - used_p).to_i %>%;">
        <span class="sr-only"><%= committed_p %> % used</span>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Server</h3>
      </div>
      <div class="panel-body">
        <div><strong>STARTED:</strong> <%= stat[:started] %></div>
        <div><strong>UPTIME:</strong> <%= stat[:uptime] %></div>
        <div>
          <strong>HEAP MEMORY USED:</strong> <%= stat[:memory][:heap][:used] %>MB (<%= stat[:memory][:heap][:used_percent] %>%),
          <strong>COMMITTED:</strong> <%= stat[:memory][:heap][:committed] %>MB,
          <strong>MAX:</strong> <%= stat[:memory][:heap][:max] %>MB
        </div>
        <div>
          <strong>NON-HEAP MEMORY USED:</strong> <%= stat[:memory][:nonheap][:used] %>MB (<%= stat[:memory][:nonheap][:used_percent] %>%),
          <strong>COMMITTED:</strong> <%= stat[:memory][:nonheap][:committed] %>MB,
          <strong>MAX:</strong> <%= stat[:memory][:nonheap][:max] %>MB
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data</h3>
      </div>
      <div class="panel-body">
        <div><strong>TARGETS:</strong> <%= stat[:targets] %>, <strong>QUERIES:</strong> <%= stat[:queries] %></div>
        <div><strong>EVENTS INPUT:</strong> <%= stat[:input_events] %></div>
        <div><strong>EVENTS PROCESSED:</strong> <%= stat[:processed_events] %></div>
        <div><strong>EVENTS OUTPUT:</strong> <%= stat[:output_events] %></div>
      </div>
    </div>
  </div>
</div>

<div class="page-header">
  <h1 id="queries">Queries</h1>
</div>

<% if queries.size > 0 %>
<table class="table">
  <tr>
    <th>Group</th><th>Query name</th><th>Targets</th><th></th><th>Query</th><th style="text-align:right;">Events</th><th></th><th></th><th></th>
  </tr>
  <% queries.each_with_index do |query, index| %>
  <tr class="<%= query.suspended? ? "suspended" : "" %>">
    <td><%= query.group || "(default)" %></td>
    <td><%= query.name %></td>
    <td><%= query.targets.join(", ") %></td>
    <td><%= query.suspended? ? "suspended" : "" %></td>
    <td>
      <button class="btn btn-default btn-xs show-query-expression" data-load="<%= url_for("/json/query/#{query.name}") %>">show query</button>
    </td>
    <td style="text-align: right;"><%= pool[query.name] %></td>
    <td>
      <% if pool[query.name].to_i > 0 %>
      <button class="btn btn-info btn-xs show-query-events-sample" data-load="<%= url_for("/json/events_sample/#{query.name}") %>">
        <span class="glyphicon glyphicon-search"></span>
      </button>
      <% end %>
    </td>
    <td>
      <% if query.suspended? %>
        <a class="btn btn-info btn-xs" data-toggle="modal" href="#resumeQuery<%= index %>">
          <span class="glyphicon glyphicon-play"></span>
        </a>
        <div class="modal fade"
          id="resumeQuery<%= index %>"
          tabindex="-1" role="dialog" aria-labelledby="resumeQueryLabel<%= index %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Resume Query <%= query.name %></h4>
              </div>
              <div class="modal-body">
                <p>name: <%= query.name %>, group: <%= query.group || "(default)" %></p>
              <pre><%= query.expression %></pre>
              </div>
              <div class="modal-footer">
                <form class="form-inline" action="<%= url_for("/resume") %>" method="POST">
                  <input type="hidden" name="query_name" value="<%= query.name %>" />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Resume</button>
                </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      <% else %>
        <a class="btn btn-warning btn-xs" data-toggle="modal" href="#suspendQuery<%= index %>">
          <span class="glyphicon glyphicon-pause"></span>
        </a>
        <div class="modal fade"
          id="suspendQuery<%= index %>"
          tabindex="-1" role="dialog" aria-labelledby="suspendQueryLabel<%= index %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Suspend Query <%= query.name %></h4>
              </div>
              <div class="modal-body">
                <p>name: <%= query.name %>, group: <%= query.group || "(default)" %></p>
              <pre><%= query.expression %></pre>
              </div>
              <div class="modal-footer">
                <form class="form-inline" action="<%= url_for("/suspend") %>" method="POST">
                  <input type="hidden" name="query_name" value="<%= query.name %>" />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-danger">Suspend</button>
                </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      <% end %>
    </td>
    <td>
      <a class="btn btn-danger btn-xs" data-toggle="modal" href="#removeQuery<%= index %>">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
      <div class="modal fade"
        id="removeQuery<%= index %>"
        tabindex="-1" role="dialog" aria-labelledby="removeQueryLabel<%= index %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Remove Query <%= query.name %></h4>
            </div>
            <div class="modal-body">
              <p>name: <%= query.name %>, group: <%= query.group || "(default)" %></p>
              <pre><%= query.expression %></pre>
            </div>
            <div class="modal-footer">
              <form class="form-inline" action="<%= url_for("/deregister") %>" method="POST">
                <input type="hidden" name="query_name" value="<%= query.name %>" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Remove</button>
              </form>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>No queries found.</p>
<% end %>

<h3 id="query_add">Add Query <button class="btn btn-warning btn-xs" id="query_add_editor_toggle">editor</button></h3>
<% input_data ||= {}; input_data[:query_add] ||= {} %>
<div id="query_add_editor" class="well" style="display: <%= input_data[:query_add].empty? ? "none" : "block" %>;">
  <% if input_data[:query_add][:error] %>
    <div class="alert alert-danger"><%= input_data[:query_add][:error] %></div>
  <% end %>
  <form action="<%= url_for("/register") %>" method="POST">
    <div class="row">
      <div class="col-sm-8 form-group">
        <label for="addQueryExpression">Query</label>
        <textarea name="expression" id="addQueryExpression" class="form-control" rows="5"><%= input_data[:query_add][:expression] %></textarea>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="addQueryName">Name</label>
          <input type="text" name="query_name" value="<%= input_data[:query_add][:query_name] %>" id="addQueryName" class="form-control" placeholder="Query Name" />
        </div>
        <div class="form-group">
          <label for="addQueryGroup">Group</label>
          <input type="text" name="query_group" value="<%= input_data[:query_add][:query_group] %>" id="addQueryGroup" class="form-control" placeholder="(blank:default)" />
        </div>
        <button type="submit" class="btn btn-primary">Add Query</button>
      </div>
    </div>
  </form>
</div>


<div class="page-header">
  <h1 id="targets">Targets</h1>
</div>

<% if targets.size > 0 %>
<table class="table">
  <tr><th>Target</th><th>Auto field</th><th>Fields</th><th>modified</th><th></th></tr>
  <% targets.each_with_index do |target, index| %>
  <tr>
    <td><%= target[:name] %></td>
    <td><%= target[:auto_field] %></td>
    <td>
      <% if target[:fields].size > 0 %>
        <button class="btn btn-default btn-xs show-target-fields" data-load="<%= url_for("/json/target/#{target[:name]}") %>">show fields</button>
      <% else %>
        (lazy target)
      <% end %>
    </td>
    <td style="text-align: right;"><%= target[:modified] %></td>
    <td style="font-size: small; color: #c0c0c0;">
      <a class="btn btn-danger btn-xs" data-toggle="modal" href="#removeTarget<%= index %>">
      <span class="glyphicon glyphicon-trash"></span>
      </a>
      <div class="modal fade"
        id="removeTarget<%= index %>"
        tabindex="-1" role="dialog" aria-labelledby="removeTargetLabel<%= index %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Remove Target <%= target[:name] %></h4>
            </div>
            <div class="modal-body">
              <p>Remove all definitions and queries?</p>
              <p>name: <%= target[:name] %></p>
            </div>
            <div class="modal-footer">
              <form class="form-inline" action="<%= url_for("/close") %>" method="POST">
                <input type="hidden" name="target" value="<%= target[:name] %>" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Remove</button>
              </form>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>No targets found.</p>
<% end %>

<div class="page-header">
  <h1 id="stats">Target/Query stat dump</h1>
</div>

<a href="<%= url_for("/stat/dump") %>" class="btn btn-info btn-lg" role="button">Download JSON</a>

<div class="page-header">
  <h1 id="logs">Server logs</h1>
</div>

<button id="show_server_logs" class="btn btn-info btn-lg" data-url="<%= url_for("/logs") %>">Show server logs</button>

<div id="logsection" style="display: none;">
  <table id="logtable" class="table logs">
    <tr><th width="240px">Time</th><th>Level</th><th>message</th></tr>
  </table>
</div>
